<div (click)="setProjectInformation()" class="bg-white hover:bg-amber-50 shadow-md rounded-2xl p-4 w-80 border border-gray-200 hover:shadow-sm hover:scale-105 transition duration-300 cursor-pointer">
  <div class="flex justify-between items-center mb-2">
    <h2 class="text-lg font-bold text-gray-800">{{ project.title }}</h2>
    <span
      class="text-xs px-2 py-1 rounded-md font-semibold"
      [ngClass]="getStatusClasses()"
    >
      {{ project.status }}
    </span>
  </div>

  <p class="text-sm text-gray-600 mb-4">{{ project.description }}</p>

  <div class="text-xs text-right text-gray-500">
    Entrega: {{ project.delivery_date | date : "shortDate" }}
  </div>
</div>
